@keyframes pulse {
  0%,
  100% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
}

.App {
  min-height: 100vh;
  margin-top: 56px;
}

.chooser-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 28px;
  margin-left: 28px;
  margin-top: 61px;
  margin-bottom: 5px;
}
.date-chooser {
  display: flex;
  align-items: center;
  font-family: "Roboto Condensed", sans-serif;
  font-size: 18px;
  letter-spacing: 1.1px;
  margin-right: 10px;
}
.date-chooser > p {
  border: 1px solid #58d68d;
  background-color: #117a65;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  margin-right: 8px;
  margin-left: 8px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.date-chooser > a {
  text-decoration: none;
  cursor: pointer;
  font-size: 18px;
  color: white;
  border: 1px solid #58d68d;
  background-color: transparent;
  padding: 5px 10px;
  border-radius: 20px;
  transition: 150ms background-color ease-in-out;
}
.date-chooser > a:hover {
  background-color: #117a65;
}
.sports-chooser {
  display: flex;
  box-sizing: border-box;
  width: 80%;
}
.sports-chooser > a {
  text-decoration: none;
  display: flex;
  font-family: "Roboto Condensed";
  font-size: 16px;
  font-weight: 400;
  margin-right: 10px;
  border: 1px solid #58d68d;
  background-color: transparent;
  color: white;
  padding: 4px 10px;
  border-radius: 20px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  transition: 150ms background-color ease-in-out;
}
.sports-chooser > .active {
  background-color: #117a65;
}
.sports-chooser > a:hover {
  background-color: #117a65;
  cursor: pointer;
}
.category-event {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 3px 5px;
  margin-bottom: 4px;
  box-sizing: border-box;
  color: rgb(0, 0, 0);
  background-color: rgb(255, 255, 255);
  transition: 150ms background-color ease-in-out;
}
.category-event:hover {
  background-color: rgb(231, 231, 231);
}

.teams {
  display: flex;
  flex-direction: column;
  padding-left: 10px;
  width: 70%;
  border-left: 1px solid rgb(207, 207, 207);
  border-right: 1px solid rgb(207, 207, 207);
}
.finished {
  color: black;
  width: 15%;
  text-align: center;
  padding-left: 0px;
}
.notstarted,
.canceled,
.postponed {
  width: 15%;
  font-size: 14px;
  text-align: center;
  color: grey;
  padding-left: 0px;
}
.inprogress {
  color: red;
  width: 15%;
  text-align: center;
  padding-left: 0px;
}
.start-time {
  width: 15%;
  height: 100%;
  text-align: center;
  font-family: "Bebas Neue", cursive;
}
.category-list {
  display: flex;
  justify-content: space-around;
  flex-flow: row wrap;
}
.card {
  width: 350px;
  background-color: white;
  margin: 10px;
  border: 2px solid #adffcf;
  border-radius: 4px;
  height: 400px;
}
.card-category {
  padding: 5px 10px;
  display: flex;
  align-items: center;
  background-color: rgb(44, 44, 94);
  border-bottom: 1px solid #117a65;
  box-shadow: 0 2.8px 2.2px rgba(0, 0, 0, 0.034),
    0 6.7px 5.3px rgba(0, 0, 0, 0.048), 0 12.5px 10px rgba(0, 0, 0, 0.06),
    0 22.3px 17.9px rgba(0, 0, 0, 0.072), 0 41.8px 33.4px rgba(0, 0, 0, 0.034);
  color: white;
}
.card-category > p {
  font-size: 24px;
  font-weight: 600;
  margin: 3px 0px;
}
.card-category img {
  margin-right: 10px;
  height: 36px;
  width: 36px;
}
.uniqueTournament {
  margin-top: 14px;
  display: flex;
  align-items: center;
  font-weight: 600;
  font-size: 18px;
  padding-left: 5px;
  margin-bottom: 5px;
}
.score {
  font-weight: 600;
}
.loading {
  margin-top: 10px;
  text-align: center;
  font-weight: 600;
  color: black;
}

.main {
  color: white;
  font-size: 32px;
}

.uniqueTournament img {
  height: 24px;
  width: 24px;
  margin-right: 5px;
}
.card-events {
  display: flex;
  flex-direction: column;
  max-height: 350px;
  overflow-y: auto;
}
.card-events::-webkit-scrollbar {
  width: 9px;
  border-radius: 10px;
  background-color: transparent;
}

.card-events::-webkit-scrollbar-thumb {
  background: #58d68d;
  border-radius: 10px;
}

.uniq-events {
  display: flex;
  width: 100%;
  box-sizing: border-box;
  flex-direction: column;
  padding-top: 3px;
  padding-bottom: 4px;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 4px;
}
.trackedbutton {
  border-radius: 50%;
  border: 1px solid #58d68d;
  padding: 8px;
  cursor: pointer;
  transition: 150ms background-color ease-in-out;
}
.trackedbutton:hover {
  background-color: #117a65;
}
.logo {
  font-family: "Bebas Neue", cursive;
  font-size: 36px;
  letter-spacing: 1.2px;
  color: white;
  text-decoration: none;
}

header {
  top: 0;
  left: 0;
  width: 100%;
  box-sizing: border-box;
  position: absolute;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-inline: 28px;
  padding-block: 10px;
  color: white;
  font-size: 24px;
}
.eventPage {
  display: flex;
  justify-content: center;
}
.event-container {
  display: flex;
  width: 60%;
  flex-direction: column;
  align-items: center;
  background-color: white;
  border-radius: 4px;
  color: rgba(32, 32, 69);
  height: max-content;
}
@media only screen and (max-width: 820px) {
  .event-container {
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }
  .evenTeam img {
    width: 60%;
  }
}
@media only screen and (max-width: 340px) {
  .event-container {
    width: 90%;
    margin-top: 30px;
    text-align: center;
  }
  .evenTeam p {
    font-size: 12px;
  }
  .event-container > p {
    font-size: 12px;
  }
}
.eventHeadline {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin-bottom: 10px;
}
.evenTeam {
  display: flex;
  flex-direction: column;
  width: 30%;
  justify-content: center;
  align-items: center;
  font-weight: bold;
  color: rgb(65, 65, 65);
}

.inprogress {
  color: red;
}
.eventMiddle {
  display: flex;
  flex-direction: column;
  width: 20%;
  align-items: center;
}

.inprogressLabel {
  color: red;
  font-size: 18px;
  animation: pulse 2s cubic-bezier(0.4, 0, 0.6, 1) infinite;
}
.endLabel {
  font-weight: bold;
}
.trackedCards {
  display: flex;
  flex-wrap: wrap;
  padding-right: 80px;
}
.trackedPortal {
  position: fixed;
  background-color: black;
  color: rgb(255, 5, 5);
  display: flex;
  flex-direction: column;
  width: 100%;
  top: 0px;
  left: 0px;
  height: 100%;
}
.portalButton {
  position: absolute;
  top: 12px;
  right: 28px;
  text-decoration: none;
  font-size: 24px;
  color: white;
  background-color: #117a65;
  border-radius: 50%;
  border: 1px solid #58d68d;
  padding: 8px;
  cursor: pointer;
  transition: 100ms background-color ease-in-out;
}

.tracked-event {
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
}

.dropdown {
  position: relative;
  display: inline-block;
  cursor: pointer;
  color: white;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: rgb(31, 31, 80);
  border: 1px solid #58d68d;
  min-width: 150px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  padding: 4px 4px;
  z-index: 1;
  border-radius: 4px;
}

.dropdown:hover .dropdown-content {
  display: flex;
  flex-direction: column;
  align-items: left;
}
.dropdown h3 {
  border: 1px solid #58d68d;
  background-color: #117a65;
  color: white;
  padding: 5px 10px;
  border-radius: 20px;
  font-weight: 500;
  text-transform: capitalize;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin: 0;
}
.dropdown-content > a {
  text-decoration: none;
  display: flex;
  font-family: "Roboto Condensed";
  font-size: 18px;
  font-weight: 400;
  border-bottom: 1px solid #58d68d;
  background-color: transparent;
  color: white;
  padding: 4px 0px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 10px;
}

.dropdown-content > a:hover {
  border-bottom: 1px solid white;
}
