body {
  margin: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: #2c2c5e;
  background: linear-gradient(0deg, #2c2c5e 0%, rgba(32, 32, 69, 1) 100%);
}
p {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
