body {
  margin: 0;
  font-family: "Roboto Condensed", -apple-system, BlinkMacSystemFont, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: rgb(43, 157, 87);
  background: linear-gradient(
    0deg,
    rgba(43, 157, 87, 1) 0%,
    rgba(0, 78, 110, 1) 49%,
    #2c2c5e 100%
  );
}
p {
  margin: 0;
  padding: 0;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
